.super-jumbo {
    background-color: lightblue;
    margin-top: 50px;
}

.banner {
    /*background-image: url("../images/Banner.jpg");*/
    background: none;
}

footer {
    padding:  10px 10px 0px 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 0px 0px 0px;
    margin-bottom: 5px;
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;
}

.content-button-icon,
.footer-address-icon,
.footer-links-icon {
    padding-right: 10px;
}

