/* Variables */
/* Mixin's */
/* Estilo */
.super-jumbo {
  background-color: #add1fa;
  margin-top: 50px;
  margin-bottom: 10px; }

.banner {
  background: none; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #add1fa;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 5px; }

.btn-reservar {
  width: 100%;
  border-radius: 0px; }

.content-button-icon,
.footer-address-icon,
.footer-links-icon {
  padding-right: 10px; }
