/* Variables */
$maincolor: #add1fa;
$amarillo: #ffff1a;
$verde: #009999;
$rojo: hsl(0, 100%, 30%);

/* Mixin's */
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin paddings($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

/* Estilo */
.super-jumbo {
    background-color: $maincolor;
    @include margenes(50px, 10px);
}

.banner {
    background: none;
}

footer {
	@include paddings(10px, 10px, 0px, 10px);
    background-color: $maincolor;
    @include margenes(20px, 0px);
}

.card-hotel {
    flex: 1 250px;
	@include paddings(2px, 0px, 0px, 0px);
    margin-bottom: 5px;
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;
}

.content-button-icon,
.footer-address-icon,
.footer-links-icon {
    padding-right: 10px;
}

