/* Variables */
@maincolor: #459cce;
@amarillo: #ffff1a;
@verde: #009999;
@rojo: #990000;

/* Mixin's */
.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}
.paddings(@top, @right, @bottom, @left){
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;
	padding-left: @left;
}

/* Estilo */
.super-jumbo {
    background-color: @maincolor;
    .margenes(50px, 10px);
}

.banner {
    background: none;
}

footer {
	.paddings(10px, 10px, 0px, 10px);
    background-color: @maincolor;
    .margenes(20px, 0px);
}

.card-hotel {
    flex: 1 250px;
	.paddings(2px, 0px, 0px, 0px);
    margin-bottom: 5px;
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;
}

.content-button-icon,
.footer-address-icon,
.footer-links-icon {
    padding-right: 10px;
}

